<div class="row col-lg-12">
  <ul>
    <li
      *ngFor="let timeline of timelines">
      <ul>
        <li>id:{{timeline.id}}</li>
        <li>name:{{timeline.name}}</li>
        <li>notes:{{timeline.note}}</li>
        <ul>
          <li *ngFor="let media of timeline.medias">
            [{{media}}] {{media.id}}: {{media.name}}
          </li>
        </ul>
      </ul>
    </li>
  </ul>
</div>
<div class="">
  <button
    md-button
    (click)="refreshTimelines()">
    Refresh
  </button>
  <div>
    <div
      style="width:250px; height:20px"
      *ngFor="let sliderValue of sliderValues">
      <md-slider
        class="example"
        value={{sliderValue}}
        [thumb-label]=false
      >
      </md-slider>
    </div>
  </div>
</div>
